* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colores light */
:root {
  --first-color-alt: #d42b39;
  --first-color: #dc3845;
  --title-color: #282525;
  --text-color: #5d5656;
  --text-color-light: #918889;
  --body-color: #eae7e7;
  --container-color: #ffffff;
}

/* Colores dark */
:root.dark-colors {
  --first-color-alt: #d42b39;
  --first-color: #db4d59;
  --title-color: #f3f2f2;
  --text-color: #c2bdbd;
  --text-color-light: #918889;
  --body-color: #251819;
  --container-color: #2f2223;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1008px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  transition: all 1.1s;
  background: var(--body-color);
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 4.4rem;
}

.log {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--title-color);
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  border-radius: 0 0 20px 20px;
}

.nav-link {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--title-color);
}

.res-nav-link-img,
#close-drop-bar-btn {
  display: none;
}

.nav-bar-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.nav-bar-btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: var(--title-color);
}

#drop-bar-btn {
  display: none;
}

/* hero section */

.hero {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}
.hero-desc {
  max-width: 45rem;
}
.hero-title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 4rem;
  line-height: 140%;
  letter-spacing: 0%;

  color: var(--title-color);
}
.hero-text {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color);
  margin: 1.6rem 0 4.8rem;
  max-width: 380px;
}

.section-img {
  min-width: 200px;
}

.btn {
  cursor: pointer;
  border-radius: 64px;
  padding: 20px 62px;
  gap: 10px;
  border: none;
  color: #ffffff;
  background: var(--first-color-alt);
}

.btn:hover {
  background: var(--first-color);
}

/* main  ***this christms news***  */

.christms-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section-title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--title-color);
}
.christms-news-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 56px 0 133px;
}
.christms-news-box {
  width: 142px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.christms-news-box-img {
  height: 120px;
}

.box-title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--title-color);
}
.box-text {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--text-color);
  margin: 12px 0 4px;
}

.gift-img{
  height: 120px;
}

/* celebrate */
.celebrate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}

.section-desc {
  max-width: 372px;
}

.sec-text {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color);
  margin: 24px 0 40px;
}

/* gift */
.gifts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.gifts .section-title {
  text-align: center;
  margin-bottom: 64px;
}

.gift-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.gift-box {
  position: relative;
  padding: 24px;
  border-radius: 12px;
  background: var(--container-color);
}

.gift-price {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--title-color);
  margin-bottom: 4px;
}
.gift-title {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color-light);
}

.liked-gift-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  border: none;
  background: none;
  color: var(--first-color-alt);
}

/* new gifts */
.new-gifts {
  text-align: center;
  margin-bottom: 96px;
}
.section-title {
  margin-bottom: 64px;
}

.new-gift-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 64px;
  min-width: 360px;
}
.new-gift-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 278px;
  width: 230px;
  border-radius: 12px;
  background: var(--container-color);
  overflow: hidden;
  padding: 21px;
}
.gift-display {
  position: relative;
  height: 250px;
  width: 300px;
  border-radius: 50%;
  background: var(--first-color-alt);
  top: -60px;
}

.new-gift-display-img {
  position: relative;
  height: 150px;
  width: 150px;
  top: 40px;
}

.gift-price {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color);
}
.gift-title {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--title-color);
}

.new-gift-desc {
  position: relative;
}

.new-gift-box .liked-gift-btn {
  position: absolute;
  right: -60px;
  bottom: 0;
  height: 36px;
  width: 36px;
  border-radius: 4px;
  background: var(--first-color-alt);
  /* display: none; */
}

.new-gift-box .bx-heart {
  color: #ffffff;
}


/*  section send wishes  */
.section-send-wishes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
  background: var(--first-color);
  padding: 50px;
  gap: 65px;
  border-radius: 32px;

}
.section-desc {
  display: flex;
  flex-direction: column  ;
  align-items: start;
  min-width: 264px;
}
.section-send-wishes .section-title {
  margin: 0;
  font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 3.6rem;
line-height: 100%;
letter-spacing: 0%;
color: #ffffff;
}

.massage-input {
  margin-top: 24px;
  padding: 16px 24px;
  max-width: 30rem;
  border-radius: 8px;
  border: none;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color);
}

.massage-input:focus {
  outline: none;
}

.send-wish-btn {
  margin-top: 24px;
  background: #ffffff;
  background: #251819;

}

.send-wish-btn:hover {
  background: var(--text-color);      
}

/* footer */

.footer-container {
   position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 112px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}
.log {
  font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: var(--title-color);
}
.logo-title {
  max-width: 150px;
  font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: var(--text-color);
}

.foter-menu {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.foter-menu-title {
font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: var(--title-color);
margin-bottom: 24px;
}
.footer-menu-link {
  font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: var(--text-color);
}
.support {
}
.download {
}


.site-type{
  font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: var(--text-color); 
margin-bottom: 40px;
display: flex;
justify-content: center;
}


/* reponsive */
@media (max-width: 560px) {
  #nav-links {
    position: absolute;
    right: 0;
    top: -400px;
    width: 100%;
    flex-direction: column;
    background: var(--container-color);
    padding: 64px;
    transition: all 1.1s;
  }

  .nav-link:hover {
    transition: all 1.1s;
    transform: scale(1.1);
  }

  .res-nav-link-img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  #close-drop-bar-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #drop-bar-btn {
    display: block;
  }

  .top-drop-bar {
    display: flex;
    justify-content: space-between;
  }
  /* hero  */
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .section-img {
    height: 220px;
  }

  /* main christms news  */
  .christms-news-box-img {
    height: 100px;
  }

  /* .celebrate  */
  .celebrate {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  /* .gift-area  */
  .gift-area {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
.gift-box {
  padding: 20px;
}
  .gift-img{
  height: 100px;
}


  /* section-send-wishes */
  .section-send-wishes {
    flex-direction: column;
    text-align: center;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .section-desc {
    align-items: center;
  }

  /* footer */
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  .footer-logo{
    align-items: center;
  }
}
