* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colores light */
:root {
  --first-color-alt: #d42b39;
  --first-color: #dc3845;
  --title-color: #282525;
  --text-color: #5d5656;
  --text-color-light: #918889;
  --body-color: #ffffff;
  --container-color: #ffffff;
}

/* Colores dark */
:root.dark-colors {
  --first-color-alt: #d42b39;
  --first-color: #db4d59;
  --title-color: #f3f2f2;
  --text-color: #c2bdbd;
  --text-color-light: #918889;
  --body-color: #251819;
  --container-color: #2f2223;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1008px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: var(--body-color);
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.log {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--title-color);
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav-link {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--title-color);
}

.res-nav-link-img,
#close-drop-bar-btn {
  display: none;
}

.nav-bar-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.nav-bar-btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: var(--title-color);
}

#drop-bar-btn {
  display: none;
}

@media (max-width: 560px) {
  #nav-links {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background: var(--body-color);
    flex-direction: column;
    padding: 20px;
  }

  .nav-link:hover {
    transform: scale(1.1);
  }

  .res-nav-link-img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  #close-drop-bar-btn {
    display: block;
    position: absolute;
  }

  #drop-bar-btn {
    display: block;
  }

  .top-drop-bar {
    display: flex;
    justify-content: space-between;
  }
}
