* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* light colors */
:root {
  ---first-color-alt: #d42b39;
  --first-color: #dc3845;
  ---title-color: #282525;
  ---text-color: #5d5656;
  ---text-color-light: #918889;
  ---body-color: #ffffff;
  ---container-color: #ffffff;
}

/* Colores dark */
:root.dark {
  ---first-color-alt: #d42b39;
  --first-color: #db4d59;
  ---title-color: #f3f2f2;
  ---text-color: #c2bdbd;
  ---text-color-light: #918889;
  ---body-color: #251819;
  ---container-color: #2f2223;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  background-color: var(---body-color);
  transition: 0.5s;
}

.container {
  max-width: 1008px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* header */
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.logo-title {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(---title-color);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}
.nav-bar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}
.nav-bar-btns {
}

#nav-bar-mode-btn {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-bar-light-btn {
}
#nav-bar-menu-btn {
  display: none;
}
